@media (prefers-reduced-motion: reduce) {
  .center_img {
    transition: none;
  }
  .center_img.moved {
    transition: none;
  }
}

@media (max-width:700px){
  form{
    width: 100%;
    margin: 0 16px;
  }
  .login-site-header{
    display:none !important;
  }
  .login-site-header-to-signup{
    white-space:nowrap;
  }
  .login_input_container{
    width: 70vw;
  }
  .sign-up-responsive{
    display:flex;
  }
  .login-site-logo-container{
    width: unset;
    height: unset;
    top: 40px;
    left: 40px;
  }

  .login-site-logo-container img{
    width: 80px;
    height: 85px;
  }

  
}

@media (max-width: 600px) {
  .login-site-logo-container{
    width: unset;
    height: unset;
    top: 20px;
    left: 20px;
  }
  .login-site-logo-container img{
    width: 32px;
    height: 39px;
  }
  .login-form-btns-container{
    flex-direction: column;
    width: 50%;
    gap:21px;
    padding-bottom: 32px;
    padding-top: 32px;
  }
  .login-form-btns-container button{
    font-size:16px;
  }
  form{
    height: unset;
    gap:21px;
  }
}

@media (max-width: 500px){
  .sign-up-responsive{
    padding: 35px 0 20px 0;
  }
  .login_input_container{
    height: unset;
  }

  .login-site-footer{
    bottom: 10px;
  }

  .login-form-header-div{
    margin-top:16px;
    padding-bottom:16px;
  }

  .login-form-btns-container{
    padding-top:16px;
    gap:12px;
  }

  .login-form-header-div h1{
    font-size:37px;
  }
}

@media(max-width: 450px){
  .sign-up-responsive{
    padding: 8px;
  }
  form{
    gap:unset;
  }
  .input-box{
    padding: 6px 6px 6px 0;
  }
}