@media (max-width: 1350px) {
    .greet-overlay {
    position: fixed;
    inset: 0;
    z-index: 1500;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeOut 1.5s ease 2s forwards;
    /* 0.5s ausblenden, nach 2s starten */
    transition: opacity 1.5s;
    opacity: 1;
  }
  .priority-date-div:hover{
    transform:scale(1.05);
  }

  .greet-span-responsive{
    white-space: nowrap;
    color: #2a3647;
  font-weight: 500;
  font-size: 47px;
  line-height: 120%;
  }
  .greet-name-span-responsive{
  font-size: 61px;
  font-weight: 700;
  color: #29abe2;
  line-height: 120%;
  }
  
  .greet-container{
    display:flex;
    flex-direction: column;
  }

@keyframes fadeOut {
  to {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}
  .greet-span-div {
    display: none;
  }
  
  .summary-content-div {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
  }
}

@media (max-width: 870px) {
  .menu-bar-container {
    display: none;
  }

  .bottom-nav {
    display: flex!important;
  }
  
  .main-layout-container {
    justify-content: center;
  }

  .summary-content-div {
    width: unset;
    max-width: unset;
    margin-top: 96px;
    padding: 48px 16px;
  }
  .headline-div {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    margin-bottom: 0;
  }
  .seperator-content {
    order: 99;
    height: 0px;
    width: 90px;
  }
}

@media (max-width: 600px) {
  .summary-content-div {
    padding: 48px 16px 0 16px;
    width:100%;
  }
  .todo-done-div {
    margin-top: 40px;
    gap: 10px;
  }
  .urgency-summary{
    gap:10px;
  }

  .headline-span {
    font-size: 47px;
  }
  .headline-span-div {
    font-size: 20px;
  }
  .todo-div {
    width: 186px;
    height: 110px;
    align-items: center;
    justify-content: center;
  }
  .todo-div img {
    width: 40px;
    height: 40px;
    padding: 0px;
  }
  .todo-span {
    font-size: 16px;
    white-space: nowrap;
  }

  .todo-span-div {
    padding: 0;
  }
  .todo-number-span {
    font-size: 47px;
  }
  .done-div {
    width: 186px;
    height: 110px;
    align-items: center;
    justify-content: center;
  }
  .done-div img {
    width: 40px;
    height: 40px;
    padding: 0;
  }
  .done-span {
    font-size: 16px;
    white-space: nowrap;
  }
  .done-span-div {
    padding: 0px;
  }
  .done-number-span {
    font-size: 47px;
  }

  .priority-date-greeting-div {
    width: 396px;
    height: 110px;
    margin-top: 30px;
  }
  .priority-date-div {
    gap: 20px;
    width: 100%;
    justify-content: center;
    padding-top: 17px;
    padding-bottom: 17px;
  }
  .urgency-summary img {
    padding: 0 0 0 5px;
    width: 35px;
    height: 35px;
  }
  .urgency-number-span {
    font-size: 47px;
  }
  .urgency-span {
    font-size: 16px;
  }
  .date-span-div {
    padding: 0;
  }
  .date-span {
    font-size: 16px;
  }

  .date-number-span {
    font-size: 16px;
  }
  .seperator-content-summary {
    height: 68px;
  }
  .open-tasks-div {
    margin-top: 18px;
    gap: 10px;
  }
  .tasks-in-board-div {
    height: 116px;
    width: 116px;
  }
  .tasks-in-board-number-span {
    font-size: 47px;
  }
  .tasks-in-board-span {
    font-size: 16px;
  }
  .tasks-in-progress-div {
    height: 116px;
    width: 116px;
  }
  .tasks-in-progress-number-span {
    font-size: 47px;
  }
  .tasks-in-progress-span {
    font-size: 16px;
  }
  .awaiting-feedback-div {
    height: 116px;
    width: 116px;
  }
  .awaiting-feedback-number-span {
    font-size: 47px;
  }
  .awaiting-feedback-span {
    font-size: 16px;
  }
  .todo-done-div{
    width:100%;
  }
  .todo-div{
    width:unset;
    flex:1;
  }
  .done-div{
    width:unset;
    flex:1
  }
  
  .open-tasks-div{
    width:100%;
  }
  .priority-date-greeting-div{
    width:100%;
  }
  .tasks-in-board-div{
    flex:1;
    width:unset;
  }
  .tasks-in-progress-div{
    flex:1;
    width:unset;
  }
  .awaiting-feedback-div{
    flex:1;
    width:unset;
  }
  
}
