@media(max-width: 700px){
  .login-site-logo{
   width: 80px;
   height: 85px;
  }
  .login-site-logo-container{
    width: unset;
    height: unset;
    top: 40px;
    left:40px;
  }
}

@media (max-width: 630px){
  .login-site-logo-container{
    width: 64px;
    height: 78px;
  }
  .login-site-logo{
    width: 64px;
    height: 78px;
  }

  .sign-up-form{
    padding: 32px 16px;
    width: 364px;
  }

  .sign-up-input-box{
    width: 100%;
  }
  
  .sign-up-input-container{
    align-items: center;
  }

  .sign-up-form-header h1 {
    font-size:47px;
  }
  .border-bottom-div{
    width: 88px;
  }
  .sign-up-form-arrow-left-container {
    top:44px;
  }
  .login-site-logo-container{
    top:37px;
    left: 38px;
  }
}

@media(max-width: 600px){
  .sign-up-form{
    gap:12px;
  }

  .sign-up-input-container{
    gap:12px;
  }
  .sign-up-form-header h1{
    font-size: 37px;
  }
  .login-site-logo{
    height: 32px;
    width: 39px;
  }

  .login-site-logo-container{
    top: 20px;
    left: 20px;
    width: unset;
    height:unset;
  }
}

@media(max-width: 500px){
  .sign-up-form{
    margin: 0 16px;
    padding: 32px 0;
    width: 100%;
  }
  .sign-up-input-container{
    width: 80%;
  }
  .sign-up-form-arrow-left-container{
    top: 37px;
    left: 25px;
  }
}