.main-layout-container {
  display: flex;
  min-height: 100vh;
}

.add-task-container {
  padding-top: 96px;
  width: calc(100% - 232px);
  max-width: 1440px;
}

.title-positioning {
  padding: 110px 96px 48px 96px;
}

.content {
  display: flex;
  padding-left: 96px;
  gap: 48px;
}

.left-content {
  width: 440px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.description-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.due-date-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.seperator-content {
  background-color: #d1d1d1;
  width: 1px;
  height: 424px;
}

.right-content {
  width: 440px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.buttons-actions {
  display: flex;
  justify-content: end;
  margin-top:130px;
  gap:16px;
}

.required-star {
  color: #e60000;
}

.titel-input {
  height: 32px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  font-family: "Inter", sans-serif;
  padding: 12px 21px;
  margin-bottom: 16px;
  flex-direction: space-between;
  font-size: 20px;
}

.due-date-input {
  height: 32px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  font-family: "Inter", sans-serif;
  padding: 12px 21px;
  margin-bottom: 16px;
  flex-direction: space-between;
  font-size: 20px;
}

span {
  margin-bottom: 8px;
  font-weight: 400;
}

label {
  margin-bottom: 8px;
}

textarea {
  height: 120px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  font-family: "Inter", sans-serif;
  padding: 12px 21px;
  font-size: 20px;
  resize: vertical;
}

.priority-section {
  display: flex;
  flex-direction: column;
}

.priority-buttons-container {
  display: flex;
  gap: 16px;
}

.priority-btn {
  border-radius: 10px;
  width: 136px;
  height: 56px;
  border: 1px solid #d1d1d1;
  background-color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  white-space: nowrap;
}

.prio-icon {
  width: 20px;
  height: 14px;
  display: inline-block;
  object-fit: contain;
}

.assigned-section {
  display: flex;
  flex-direction: column;
}

.category-section {
  display: flex;
  flex-direction: column;
}

.subtasks-section {
  display: flex;
  flex-direction: column;
}

.select-input {
  height: 48px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  font-family: "Inter", sans-serif;
  padding-left: 16px;
  padding-right: 12px;
  font-size: 16px;
}

.subtask-input {
  height: 48px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  font-family: "Inter", sans-serif;
  padding-left: 16px;
  padding-right: 12px;
  margin-bottom: 16px;
  font-size: 20px;
}

.btn-create{
    display: flex;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 21px;
  color: white;
  white-space: nowrap;
  background-color: #2a3647;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  padding: 8px 16px;
  gap: 4px;
}

.btn-clear{
  display: flex;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;  
  font-size: 20px;
  color:#2A3647;
  white-space: nowrap;
  background-color: #F6F7F8;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #2A3647;
  padding: 8px 16px;
  gap: 4px;
}