.bottom-nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    position:absolute;
    bottom:0;
    background-color:#2a3647;
    width:100%;
    height:80px;
}

.bottom-nav-img{
    width: 24px;
    height:24px;
}

.bottom-nav-span{
    font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #cdcdcd;
  line-height: 120%;
  /* margin: 0px; */
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.nav-div{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:80px;
    height:76px;
}

.current-nav{
    pointer-events: none;
  color: white;
  cursor: default;
  text-decoration: none;
  background-color: #091931;
  border-radius:16px;
;
}