.bottom-nav {
  display: none;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  background-color: #2a3647;
  width: 100%;
  height: 80px;
  z-index: 3000;
}

.bottom-nav-img {
  width: 24px;
  height: 24px;
}

.bottom-nav-span {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #cdcdcd;
  line-height: 120%;
  /* margin: 0px; */
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.nav-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 76px;
  white-space: nowrap;
}

.nav-div:hover {
  cursor: pointer;
}

.current-nav {
  pointer-events: none;
  color: white;
  cursor: default;
  text-decoration: none;
  background-color: #091931;
  border-radius: 16px;
  ;
}

.bottom-nav-guest{
  display:none;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  background-color: #2a3647;
  width: 100%;
  height: 80px;
  z-index: 3000;
  padding: 0 16px;
  box-sizing:border-box;
}

.bottom-nav-guest .nav-div{
  width: unset;
  
}

.pp-ln-container{
  display: flex;
}

.pp-ln-container .nav-div{
  padding: 0 16px;
}

@media(max-width: 870px){
   .bottom-nav{
    display:flex;
  } 
}

@media(max-width:470px){

  .bottom-nav-guest{
    padding: 0 8px;
  }
  .pp-ln-container .nav-div{
    padding: 0 8px;
  }
}

@media(max-width: 370px){
  .pp-ln-container .nav-div{
    width: 80px;
  }
  .bottom-nav-span{
    text-wrap:wrap;
    text-align: center;
  }
}