.main-layout-container{
    display:flex;
    min-height: 100vh;
}

.contacts-container{
    padding-top: 96px;
  width: calc(100% - 232px);
  max-width: 1440px;
  display:flex;
}
.contact-list-entry{
    width:352px;
    display:flex;
    gap:35px;
    padding: 15px 82px 15px 24px;

}

.contact-avatar{
    width:42px;
    height:42px;
    border-radius: 50%;
    background-color: #FC71FF;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:16px;
    line-height: 120%;
    font-weight: 400;
    color:white;
}
.contact-info{
    display: flex;
    flex-direction: column;
    gap: 5px;
}