body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f6f7f8;
  font-family: "Inter", sans-serif;
}

h2 {
  font-size: 61px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  margin-block-start: 0;
  margin-block-end: 0;
}


/* h3 - Bold */
h3{
  font-size: 27px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  margin-block-start: 0;
  margin-block-end: 0;
  font-style: bold;
  line-height: 120%;
}

/* h3 - regular */
h4{
  font-size: 27px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: 120%;
}

a {
  color: #a8a8a8;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;

  &:hover {
    color: #28abe2;
    font-weight: 500;
  }
}
