body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f6f7f8;
  font-family: "Inter", sans-serif;
}

h1 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 61px;
  color: black;
  line-height: 120%;
  /* margin: 0px; */
  margin-block-start: 0em;
  margin-block-end: 0em;
}



/* h3 - Bold */
h2{
  font-size: 27px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  margin-block-start: 0;
  margin-block-end: 0;
  font-style: bold;
  line-height: 120%;
}

/* h3 - regular */
h3{
  font-size: 27px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: 120%;
}

a {
  color: #a8a8a8;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;

  &:hover {
    /* color: #28abe2; */
    font-weight: 500;
  }
}

.disabled-link{
  pointer-events: none;
  color: gray;
  cursor: default;
  text-decoration: none;
}
