body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f6f7f8;
  font-family: "Inter", sans-serif;
}

h1 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 61px;
  color: black;
  line-height: 120%;
  /* margin: 0px; */
  margin-block-start: 0em;
  margin-block-end: 0em;
}

/* h2 - Bold */
h2 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 27px;
  color: black;
  line-height: 120%;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

/* h2 - regular */
h3 {
  font-size: 27px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: 120%;
  
}

h4{
  font-family:"Inter", sans-serif;
  font-weight: 400;
  color:black;
  line-height: 120%;
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-size: 20px;
}

a {
  color: #a8a8a8;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;

  &:hover {
    /* color: #28abe2; */
    font-weight: 500;
  }
}

.disabled-link {
  pointer-events: none;
  color: gray;
  cursor: default;
  text-decoration: none;
  background-color:#091931;
}

.input-field{
  width: 100%;
  color:#D1D1D1;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  font-family: "Inter", sans-serif;
  padding: 8px 16px;
  gap: 10px;
  flex-direction: space-between;
  display: flex;
  font-size: 20px;
}

.d-none {
  display: none !important;
}


.btn-create {
  display: flex;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 21px;
  color: white;
  white-space: nowrap;
  background-color: #2a3647;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  padding: 8px 16px;
  gap: 4px;
}

.btn-clear {
  display: flex;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #2a3647;
  white-space: nowrap;
  background-color: #f6f7f8;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #2a3647;
  padding: 8px 16px;
  gap: 4px;
}