header {
  position: fixed;
  top: 0;
  margin-left: 232px;
  width: calc(100% - 232px);
  height: 96px;
  background-color: #ffffff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 40px 20px calc(348px - 232px);
  /* max-width: 1052px; */
  position:relative;
}

.logo-responsive{
  display:none;
}

.header-profile-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header-profile-container img {
  width: 32px;
  height: 32px;
}

.user-badge {
  display: flex;
  align-items: center;
  background: transparent;
  cursor: pointer;
}

.user-avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  color: #29abe2;
  font-weight: 700;
  font-size: 22px;
  border: 3.5px solid #2a3647;
  box-sizing: border-box;
  &:hover{
    background-color: #e2e6ec;
  }
}

.profile-options{
  position: absolute;
  top: 96px; 
  right: 20px;
  background: #2a3647;
  color: #fff;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 12px;
  z-index: 1100;
  padding:10px;
  transition: transform 0.125s ease;
}

.profile-options a{
  text-decoration:none;
  padding:8px 16px;
}

.profile-options a:hover{
  background-color: #2a3d59;
}

.help-options{
  display:none;
}

@media (max-width:870px){
  header{
    margin-left:0px;
    width:100%;
  }
  .header-content{
    padding:20px 16px;
  }
  .logo-responsive{
    display:unset;
    width:48px;
    height:52px;
  }
  .header-content span{
    display:none
  }
}

@media(max-width:600px){
  .logo-responsive{
    width:32px;
    height:39px;
  }
  .user-avatar{
    width:40px;
    height:40px;
  }

  .header-profile-container a{
    display:none;
  }
  .help-options{
    display:flex;
  }
  .profile-options{
    transform: translate(120%);
  }
  .profile-options.show{
    transform: translateX(0);
    transition: transform 0.125s ease;
  }

}