.menu-bar-container{
    background-color: #2A3647;
    height: 100vh;
    width: 232px;
    margin: 0;
    z-index: 2;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
}

.join-logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 64px;
    padding-bottom: 114px;
    padding-left: 66px;
    padding-right: 66px;
}

.menu-bar-btn-container{
    display: flex;
    align-items: stretch;
    flex-direction: column;
    width: 232px;
    margin-bottom: 114px;
}

.menu-bar-btn-container div{
    margin-bottom: 8px;
}

.main-bar-btn{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    width: 232px;
    height: 46px;
    padding-left: 56px;
    box-sizing: border-box;
    color: #FFFFFF;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
}

.main-bar-btn:hover{
    background-color:#2A3D59;
    width: 232px;
}

.main-bar-btn img {
    width: 30px;
    height: 30px;
    padding-bottom: 8px;    
    padding-top: 8px;
}

.center-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.legal-container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex: 0 0 auto;
    margin-top: auto;
    margin-bottom: 64px;
    text-align: center;
    width: 100%
}

.legal-container a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.legal-container a:hover{
    color: #29ABE2;
}

.legal-container div{
    width: calc(100% - 52px);
    height: 35px;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 52px;
    margin-bottom: 4px;
}

