.modal-task-view-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1200;
}

.inside-modal-view-overlay {
  background-color: rgba(255, 255, 255, 1);
  min-width: 525px;
  max-width: 525px;
  border-radius: 30px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.16);
  padding: 48px 40px;
  position: relative;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.task-view-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-view-header span {
  font-size: 32px;
  font-weight: 700;
  color: white;
  background-color: rgba(0, 56, 255, 1);
  border-radius: 8px;
  padding: 4px 24px;
  font-size: 23px;
  font-weight: 400;
}

.task-view-header button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.task-view-header button :hover {
  background-color: rgba(128, 128, 128, 0.103);
  border-radius: 100px;
}

.task-view-title {
  font-size: 61px;
  font-weight: 700;
  color: black;
  line-height: 120%;
}

.task-view-description span {
  font-size: 20px;
  font-weight: 400;
  color: black;
  line-height: 140%;
}

.task-view-due-date {
  font-size: 20px;
  font-weight: 400;
  color: black;
  line-height: 140%;
  display: flex;
  gap: 25px;
}

.due-date-span {
  color: rgba(42, 54, 71, 1);
}

.task-view-priority {
  display: flex;
  gap: 25px;
  align-items: center;
}

.priority-span-task-view {
  color: rgba(42, 54, 71, 1);
  font-weight: 400;
  font-size: 20px;
}

.priority-view-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.priority-span {
  font-size: 20px;
  font-weight: 400;
  color: black;
  line-height: 120%;
}

.assigned-to-span {
  color: rgba(42, 54, 71, 1);
  font-weight: 400;
  font-size: 20px;
}

.assigned-avatars-container-list {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-top: 8px;
  padding: 7px 0px 7px 16px;
}

.contact-avatar-task-view {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #fc71ff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 120%;
  font-weight: 400;
  color: white;
}

.avatar-full-name {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 120%;
}

.task-view-assigned-to-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.subtasks-list-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 8px;
}

.subtasks-list-container input {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.subtask-item {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-left: 20px;
}

.subtask-task-view span {
  font-size: 20px;
  font-weight: 400;
  color: rgba(42, 54, 71, 1);
  line-height: 120%;
}

.task-view-separator-div {
  height: 24px;
  width: 0px;
  border: 1px solid #d1d1d1;
}

.delete-edit-btn-container button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.delete-edit-btn-container {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 24px;
}

.delete-btn-task-view,
.edit-btn-task-view {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
