.sign-up-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  font-family: "Inter", sans-serif;
  height: 100vh;
  box-shadow: 0 0 14px 3px #0000000a;
}

.sign-up-form-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.sign-up-input-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.sign-up-input-box {
  width: 380px;
  display: flex;
  align-items: center;
  padding: 12px 21px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
}

.sign-up-input {
  font-family: "Inter", sans-serif;
  border: none;
  font-size: 20px;
  padding-block: 0px;
  padding-inline: 0px;
  flex-grow:1;
}
input:focus {
  outline: none;
  box-shadow: none;
  border-color: inherit;
}

.sign-up-input::placeholder {
  color: #d1d1d1;
}

.sign-up-form {
  width: unset;
  height: unset;
  padding: 48px 88px;
}

.sign-up-form-btn-login {
  width: 126px;
  height: 55px;
  border-radius: 8px;
  border-style: none;
  background-color: #2a3647;
  color: white;
  font-size: 21px;
  line-height: 120%;
  font-weight: 700;
  padding: 15px 24px;
  cursor: pointer;

  transition: all 0.125s ease;
  &:hover {
    background-color: #28abe2;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
  }
}

#signup-btn:disabled {
  background-color: #a0a0a0;
  cursor: not-allowed;
}

.check-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  color: #a8a8a8;
  padding-top: 16px;
}

.check-container a {
  text-decoration: none;
  color: #55bce8;
  font-size: 16px;
  gap: 2.5px;
}

#check-privacy {
  height: 16px;
  width: 16px;
  border-radius: 3px;
  border: 2px solid #2a3647;
  margin: 4px;
}

.position-relative {
  position: relative;
}

.sign-up-form-arrow-left-container {
  position: absolute;
  top: 75px;
  left: 50px;
}

.sign-up-form-arrow-left-icon {
  width: 32px;
  height: 32px;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.125s ease;
  &:hover {
    transform: scale(1.1);
    background-color: #e6e5e5;
  }
}

#signup-success-overlay{
    position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

@keyframes slideUpToCenter{
  from {
    transform: translateY(100vh);
  }
  to{
    transform: translateY(0);
  }
}

.signup-success-message{
  background-color:#2a3647;
  color:white;
  font-family:  "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  padding: 25px;
  border-radius:20px;
  animation: slideUpToCenter 0.7s
}