.main-layout-container {
  display: flex;
  min-height: 100vh;
}

.summary-content-div {
  padding-top: 110px;
  width: calc(100% - 232px);
  max-width: 1208px;
  margin-left: 96px;
  margin-top: 110px;
}

.headline-div {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 8px;
}

.headline-span-div {
  font-size: 24px;
  font-weight: 400;
  color: #2a3647;
  line-height: 120%;
}

.seperator-content {
  background-color: #d1d1d1;
  width: 0px;
  height: 59px;
  border: 3px solid #29abe2;
  border-radius: 10px;
}

.todo-done-div {
  display: flex;
  gap: 32px;
  margin-top: 56px;
}

/* TODO */

.todo-div {
  display: flex;
  gap: 18px;
  background-color: white;
  border-radius: 30px;
  cursor: pointer;
}

.todo-div img {
  padding-top: 49.5px;
  padding-bottom: 49.5px;
  padding-left: 57px;
}

.todo-span-div {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  padding-right: 63px;
}

.todo-number-span {
  font-size: 64px;
  font-weight: 600;
  line-height: 120%;
  color: #000000;
}

.todo-span {
  color: #2a3647;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
}

/* DONE */

.done-div {
  display: flex;
  gap: 18px;
  background-color: white;
  border-radius: 30px;
  cursor: pointer;
}

.done-div img {
  padding-top: 49px;
  padding-bottom: 49px;
  padding-left: 63.5px;
}

.done-span-div {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  padding-right: 63.5px;
}

.done-number-span {
  font-size: 64px;
  font-weight: 600;
  color: #000000;
  line-height: 120%;
}

.done-span {
  color: #2a3647;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

/* Priority and Date Summary */

.priority-date-greeting-div {
  display: flex;
  align-items: center;
  margin-top: 28px;
  gap: 80px;
}

.priority-date-div {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 30px;
  gap: 61px;
  cursor: pointer;
}

.seperator-content-summary {
  background-color: #d1d1d1;
  width: 0px;
  height: 102px;
  border: 2px solid #d1d1d1;
  border-radius: 10px;
}

.urgency-summary {
  display: flex;
  align-items: center;
  gap: 18px;
}

.urgency-summary img {
  padding-top: 54px;
  padding-bottom: 54px;
  padding-left: 65px;
}

.urgency-span-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.urgency-span {
  color: #2a3647;
}

.urgency-number-span {
  font-size: 64px;
  font-weight: 700;
  color: #000000;
}

.date-summary {
  display: flex;
}

.date-span-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-right: 65px;
  padding-top: 55px;
  padding-bottom: 55px;
  gap: 13px;
}

.date-span {
  font-size: 21px;
  font-weight: 700;
  color: #2a3647;
}

.date-number-span {
  color: #2a3647;
}

/* Greeting Section */

.greet-span-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3px;
}

.greet-span {
  color: #2a3647;
  font-weight: 500;
  font-size: 47px;
  line-height: 120%;
}

.greet-name-span {
  font-size: 64px;
  font-weight: 700;
  color: #29ABE2;
  line-height: 120%;
}

/* Tasks Overview */

.open-tasks-div {
  display: flex;
  gap: 28px;
  margin-top: 28px;
  align-items: flex-start;
}

.tasks-in-board-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 30px;
  height: 168px;
  width: 168px;
  cursor: pointer;
}

.tasks-in-board-span{
  text-align: center;
  font-size: 20px;
  color: #2a3647;
  font-weight: 400;
}

.tasks-in-board-number-span{
  font-size: 64px;
  font-weight: 600;
  color: #000000;
  line-height: 120%;
}

.tasks-in-progress-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 30px;
  height: 168px;
  width: 168px;
  cursor: pointer;
}

.tasks-in-progress-span{
  text-align: center;
  font-size: 20px;
  color: #2a3647;
  font-weight: 400;
}

.tasks-in-progress-number-span{
  font-size: 64px;
  font-weight: 600;
  color: #000000;
  line-height: 120%;
}

.tasks-completed-span{
  text-align: center;
  font-size: 20px;
  color: #2a3647;
  font-weight: 400;
}
.tasks-completed-number-span{
  font-size: 64px;
  font-weight: 600;
  color: #000000;
  line-height: 120%;
}

.awaiting-feedback-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 30px;
  height: 168px;
  width: 168px;
  cursor: pointer;
}
.awaiting-feedback-span{
  text-align: center;
  font-size: 20px;
  color: #2a3647;
  font-weight: 400;
}
.awaiting-feedback-number-span{
  font-size: 64px;
  font-weight: 600;
  color: #000000;
  line-height: 120%;
}

.todo-div:hover *,
.done-div:hover *,
.priority-date-div:hover *,
.tasks-in-board-div:hover *,
.tasks-in-progress-div:hover *,
.awaiting-feedback-div:hover *{
  color: white;
}

.todo-div:hover, .done-div:hover, .priority-date-div:hover, .tasks-in-board-div:hover, .tasks-in-progress-div:hover, .awaiting-feedback-div:hover{
  background-color: rgba(42, 54, 71, 1);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.1s ease;
  transform: scale(1.1);
}

@media(max-width:1350px){
  .greet-span-div{
    display:none;
  }
  .summary-content-div{
    margin-left:0;
    display:flex;
    flex-direction:column;
    align-items: center;
  }
}

@media(max-width: 870px){
  .menu-bar-container{
    display:none;
  }
  .main-layout-container{
    justify-content: center;
  }

  .summary-content-div{
    width: unset;
    max-width: unset;
    margin-top:96px;
    padding:48px 16px;
  }
  .headline-div{
    flex-direction: column;
    width:100%;
    align-items: flex-start;
    margin-bottom:0;
  }
  .seperator-content{
    order: 99;
    height: 0px;
    width: 90px;
  }
}

@media(max-width:600px){
  .summary-content-div{
    padding:48px 0 0 0;
  }
  .todo-done-div{
    margin-top:40px;
    gap:24px;
  }

  .headline-span{
    font-size:47px;
  }
  .headline-span-div{
    font-size: 20px;
  }
  .todo-div{
    width:186px;
    height:110px;
    align-items:center;
    justify-content: center;
  }
  .todo-div img{
    width: 40px;
    height:40px;
    padding:0px;
  }
  .todo-span{
    font-size:16px;
    white-space: nowrap;
  }

  .todo-span-div{
    padding:0;
  }
  .todo-number-span{
    font-size:47px;
  }
  .done-div{
    width:186px;
    height:110px;
    align-items:center;
    justify-content: center;
  }
  .done-div img{
    width: 40px;
    height:40px;
    padding:0;
  }
  .done-span{
    font-size:16px;
    white-space: nowrap;
  }
  .done-span-div{
    padding:0px;
  }
  .done-number-span{
    font-size:47px;
  }

  .priority-date-greeting-div{
    width: 396px;
    height:110px;
    margin-top:30px;
  }
  .priority-date-div{
    gap:20px;
    width:100%;
    justify-content: center;
    padding-top:17px;
    padding-bottom:17px;
  }
  .urgency-summary img{
    padding:0;
    width:40px;
    height:40px;
  }
  .urgency-number-span{
    font-size: 47px;
  }
  .urgency-span{
    font-size: 16px;
  }
  .date-span-div{
    padding:0;
  }
  .date-span{
    font-size:16px;
  }

  .date-number-span{
    font-size:16px;
  }
  .seperator-content-summary{
    height: 68px;
  }
  .open-tasks-div{
    margin-top:18px;
    gap:24px;
  }
  .tasks-in-board-div{
    height:116px;
    width:116px;
  }
  .tasks-in-board-number-span{
    font-size:47px;
  }
  .tasks-in-board-span{
    font-size: 16px;
  }
  .tasks-in-progress-div{
    height:116px;
    width:116px;
  }
  .tasks-in-progress-number-span{
    font-size:47px;
  }
  .tasks-in-progress-span{
    font-size:16px;
  }
  .awaiting-feedback-div{
    height:116px;
    width:116px;
  }
  .awaiting-feedback-number-span{
    font-size: 47px;
  }
  .awaiting-feedback-span{
    font-size:16px;
  }

}